body {
    text-align: center;
    background-color: black;
    color: #C72DFF;
    font-size: 40px;
}
div {
    margin: auto;
    width: 60%;
    border: 5px solid purple;
    padding: 10px;
    }

.fatass {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: magenta;
    border: 1px solid magenta;
    padding: 5px;
    margin: 1px;
}

.fatass:active {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    color: magenta;
    background-color: black;
    border: 1px solid magenta;
    padding: 5px;
}

h4 {
    font-family: 'VT323', monospace;
    font-size: 48px;
    text-align: center;
    color: magenta;
}

h3 {
    font-family: 'VT323', monospace;
    font-size: 32px;
    text-align: center;
    color: white;
}